@import "mixins";
@import "reset";
@import "fonts";
@import "vars";

html {
    font-size: 15px;
}

body {
    font-family: Roboto;
    color: $white;
}

.page {
    background-color: #010101;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

//page
@import "pages/hobbie";

//parts
@import "parts/nav";
@import "parts/section";

//blocks
@import "blocks/header";
@import "blocks/intro";
@import "blocks/footer";

