.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid $white;
    &__inner {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

